span {
    font-size: 24px;
    font-weight: 500;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

button {
    font-size: 18px;
    font-weight: 400;
    
}
.text-button {
    padding: 20px;
}

.active-link {
    background-color: #5369e9;
}