<form
    class="container"
>

    <div class="form-part" style="margin-top: 20px;">
        <div class="form-row">
            <h1>Podaci o odgovornoj osobi</h1>
        </div>

        <div class="form-part-row">
            <div class="form-row">
                <app-form-question 
                    [question]="questions[0]"
                    [form]="form"
                />
            </div>
    
            <div class="form-row">
                <app-form-question 
                    [question]="questions[1]"
                    [form]="form"
                />
            </div>
        </div>
        

    </div>

    <div class="form-part" style="margin-top: 20px;">
        <div class="form-row">
            <h1>Podaci o tvrtci</h1>
        </div>

        <div class="form-part-row">
            <div class="form-row">
                <app-form-question 
                    [question]="questions[2]"
                    [form]="form"
                />
                <app-form-question 
                    [question]="questions[3]"
                    [form]="form"
                />
                <app-form-question 
                    [question]="questions[4]"
                    [form]="form"
                />
            </div>
    
            <div class="form-row">
                <app-form-question 
                    [question]="questions[5]"
                    [form]="form"
                />
                <app-form-question 
                    [question]="questions[6]"
                    [form]="form"
                />
                <app-form-question 
                    [question]="questions[7]"
                    [form]="form"
                />
            </div>
        </div>
        

        <div class="form-row">
            <app-form-question 
                [question]="questions[8]"
                [form]="form"
            />
        </div>
    </div>

    <button
        type="button"
        class="submit-button"
        mat-flat-button
        color="primary"
        (click)="onSubmit()"
    >
        Podnesi zahtjev
    </button>
    
</form>
