@if(!!job) {
    <h1 mat-dialog-title>{{ 'Detalji o poslu' }}</h1>
}

<mat-dialog-content>
    @if(isLoading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <div class="content">
        <div class="content-row">
            @if(!!job && !!job.listing) {
                <div>
                    <h2>Detalji o naručitelju</h2>
                    <p>Ime: {{ job.listing!.firstName }}</p>
                    <p>Prezime: {{ job.listing!.lastName }}</p>
                    <p>E-mail adresa: {{ job.listing!.email }}</p>
                    <p>OIB: {{ job.listing!.oib }}</p>
                    <p>Adresa: {{ job.listing!.address }}, {{ job.listing!.postalCode }} {{ job.listing!.city }}</p>
                </div>

                <div>
                    <h2>Detalji o poslu</h2>
                    <p>Cijena: {{ job.price }} EUR</p>
                </div>
            }
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button color="accent" (click)="onClose()">
        Zatvori
    </button>
</mat-dialog-actions>
