<h2 mat-dialog-title>{{ 'Potvrda radnje' }}</h2>

<mat-dialog-content>{{ data.text }}</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close tabindex="-1">
    <span *ngIf="data.cancelButtonText; else defaultCancel">{{ data.cancelButtonText }}</span>
    <ng-template #defaultCancel>{{ defaultCancelButtonText }}</ng-template>
  </button>
    <button mat-flat-button color="accent" (click)="confirm()">
    <span *ngIf="data.confirmButtonText; else defaultConfirm">{{ data.confirmButtonText }}</span>
    <ng-template #defaultConfirm>{{ defaultConfirmButtonText }}</ng-template>
  </button>
</mat-dialog-actions>