<div class="container">

    <div class="header-container">
        <div class="header">
            <h1> <b>Cleaning app</b> - usluge dubinskog čišćenja i najma opreme</h1>
            <p>Neograničen broj ponuda. Povežite se sa najboljim pružateljima usluge dubinskog čišćenja u Hrvatskoj i uštedite.</p>
            
            
            <div class="button-row">
                <button 
                    mat-flat-button 
                    color="primary"
                    [routerLink]="['/app/create-listing']"
                >
                    Predaj oglas
                </button>
            </div>
            
          </div>
          <div class="image-section">
            <img src="assets/home/woman-cleaning.jpg" alt="Woman cleaning">
          </div>
    </div>
    

    <div class="how-it-works">
      <h2>Kako funkcionira naš sustav?</h2>
      <p>Vi zatražite ponude ispunjavanjem forme o usluzi, a mi ćemo vas povezati s tvrtkama blizu vas koje mogu obaviti traženu uslugu</p>
    </div>

    <div class="advantages-container">
        <h2>Koje su prednosti korištenja našeg sustava?</h2>
        <div class="advantages">
            <div class="advantage">
              <mat-icon>access_time</mat-icon>
              <h3>Ušteda vremena</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur nisi a maximus consectetur.</p>
            </div>
            
            <div class="advantage">
              <mat-icon>attach_money</mat-icon>
              <h3>Konkurentne cijene</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur nisi a maximus consectetur.</p>
            </div>
      
            <div class="advantage">
              <mat-icon>view_module</mat-icon>
              <h3>Opcije usluga</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur nisi a maximus consectetur.</p>
            </div>
      
            <div class="advantage">
              <mat-icon>star</mat-icon>
              <h3>Pouzdane tvrtke</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur nisi a maximus consectetur.</p>
            </div>
        </div>
    </div>
    
    <footer>
        
        <div class="copyright-content">
            <p class="about-us">O nama</p>
            <p>CUSTOMISED CLOUD d.o.o.</p>
            <p>Pleternička 1, 31000 Osijek</p>
            <p>31000 Osijek</p>
            <p>OIB: 55752957606</p>
        </div>
        
        <div class="copyright-content">
            <p>Copyright: © CUSTOMISED CLOUD d.o.o., 2024.<br>Sva prava pridržana</p>
        </div>
      
    </footer>
  </div>
  