/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}

.auth-form {
    padding: 50px;
}

.form-row {
    display: block;
    width: 100%;
}

.content-admin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .content-table-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    mat-paginator {
        margin-top: 50px;
    }
}

.header-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;

    h1 {
        margin: 0;
    }
}