<mat-toolbar class="toolbar">
    <a [routerLink]="['/app/home']">
        <span>Cleaning App</span>
    </a>
    <span class="toolbar-spacer"></span>

    
    <!-- TODO: change nav buttons depending on the app route -->
    <button 
        class="text-button"
        mat-button
        [routerLink]="['/app/create-listing']"
        color="primary"
    >
        Predaj oglas
    </button>

    <button 
        class="text-button"
        mat-button
        [routerLink]="['/app/company-registration']"
        color="primary"
    >
        Registracija za tvrtke
    </button>

    <button 
        class="text-button"
        mat-button
        [routerLink]="['/app/login']"
        color="primary"
    >
        Prijava
    </button>
    
    
</mat-toolbar>