<mat-toolbar color="primary">
    <span>Cleaning App Admin</span>
    <span class="toolbar-spacer"></span>

    <button
        class="text-button"
        mat-button
        [routerLink]="['/app/dashboard/jobs']"
        routerLinkActive="active-link"
    >
        Moji poslovi
    </button>

    <button 
        class="text-button"
        mat-button
        [routerLink]="['/app/dashboard/offers']"
    >
        Moje ponude
    </button>

    <button 
        class="text-button"
        mat-button
        [routerLink]="['/app/dashboard/listings']"
    >
        Oglasi
    </button>
    <button 
        mat-icon-button
        (click)="logout()"
    >
        <mat-icon>logout</mat-icon>
    </button>

    
    
</mat-toolbar>