<mat-toolbar class="toolbar">
    <span>Cleaning App</span>
    <span class="toolbar-spacer"></span>

    
    <!-- TODO: change nav buttons depending on the app route -->
    <button 
        class="text-button"
        mat-button
        [routerLink]="['/admin/listings']"
        color="primary"
    >
        Predaj oglas
    </button>

    <button 
        class="text-button"
        mat-button
        [routerLink]="['/admin/listings']"
        color="primary"
    >
        Registracija za tvrtke
    </button>

    <button 
        class="text-button"
        mat-button
        [routerLink]="['/admin/listings']"
        color="primary"
    >
        Prijava
    </button>
    
    
</mat-toolbar>